<div class="sticky-info">
    <mat-list role="list" class="w3-margin-left">
      <i class="fa fa-ellipsis-h w3-text-grey pull-right skicco-pointer"></i>
      <mat-list-item role="listitem"
        ><span><img src="assets/images/Elon-Musk.jpg" class="pic-profile" /></span
        ><span class="w3-margin-left"
          >Elon musk <i class="fa fa-check-circle w3-text-blue" matTooltip="Your account has been verified"></i></span
      ></mat-list-item>
    </mat-list>
    <mat-list-item role="listitem"
      ><span
        >Cash Account : <i class="fa fa-inr"></i> 96542.00
        <button mat-button matStepperNext class="w3-indigo w3-margin">
          Add cash
        </button>
      </span></mat-list-item
    >
  </div>