<div class="w3-center w3-margin">
    <div>
        <h3 class="w3-center">
            <b>Select your interested areas and skills associated with it</b>
        </h3>
        <div class="row">
            <div class="col-sm-8">
                <div class="w3-container w3-card-2 w3-white w3-margin" id="skillCard">

                    <div class="row mt">
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-laptop logo-small " [ngClass]="{'logoActive': category === 'webDesign'}" href="JavaScript:Void(0)" (click)='showSkills(9,"webDesign")'></a>
                            <p>
                                <b>Web Design/IT</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-futbol-o logo-small" [ngClass]="{'logoActive': category === 'sports'}" href="JavaScript:Void(0)" (click)='showSkills(7,"sports")'></a>
                            <p>
                                <b>Sports</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-paper-plane-o logo-small " [ngClass]="{'logoActive': category === 'sales'}" href="JavaScript:Void(0)" (click)='showSkills(6,"sales")'></a>
                            <p>
                                <b>Sales, Marketing and Operations</b>
                            </p>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-pencil-square-o logo-small" [ngClass]="{'logoActive': category === 'writing'}" href="JavaScript:Void(0)"
                                (click)='showSkills(11,"writing")'></a>
                            <p>
                                <b>writing</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-newspaper-o logo-small" [ngClass]="{'logoActive': category === 'design'}" href="JavaScript:Void(0)" (click)='showSkills(0,"design")'></a>
                            <p>
                                <b> Design and media</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-building-o logo-small" [ngClass]="{'logoActive': category === 'Engineering'}" href="JavaScript:Void(0)" (click)='showSkills(1,"Engineering")'></a>
                            <p>
                                <b>Engineering and archeticture</b>
                            </p>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-map-pin logo-small" [ngClass]="{'logoActive': category === 'localJobs'}" href="JavaScript:Void(0)" (click)='showSkills(10,"localJobs")'></a>
                            <p>
                                <b>local jobs</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-life-ring logo-small" [ngClass]="{'logoActive': category === 'helping'}" href="JavaScript:Void(0)" (click)='showSkills(3,"helping")'></a>
                            <p>
                                <b>Helping </b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-ambulance logo-small" [ngClass]="{'logoActive': category === 'healthCare'}" href="JavaScript:Void(0)" (click)='showSkills(2,"healthCare")'></a>
                            <p>
                                <b>Health Care</b>
                            </p>

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-balance-scale logo-small" [ngClass]="{'logoActive': category === 'legal'}" href="JavaScript:Void(0)" (click)='showSkills(4,"legal")'></a>
                            <p>
                                <b>Legal, Accounts and Consultants</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-camera logo-small" [ngClass]="{'logoActive': category === 'photography'}" href="JavaScript:Void(0)" (click)='showSkills(5,"photography")'></a>
                            <p>
                                <b>Movies and photography</b>
                            </p>

                        </div>
                        <div class="col-sm-4 col-xs-4 w3-center">
                            <a class="fa fa-graduation-cap logo-small" [ngClass]="{'logoActive': category === 'teachings'}" href="JavaScript:Void(0)"
                                (click)='showSkills(8,"teachings")'></a>
                            <p>
                                <b>Teachings and trainings</b>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 skillList ">
                <div *ngFor="let skilldetail of skillDetails">
                    <div ng-show="skilldetail.displayKey == showSkillDetail" [hidden]="skilldetail.displayKey != showSkillDetail">
                        <h4 class="w3-red w3-text-white w3-padding w3-center">
                            <b>{{skilldetail.skill}}</b>
                        </h4>
                        <ul id={{skilldetail.skill}} class="myUL w3-center" *ngFor="let subSkill of skilldetail.subSkills, let i = index">
                            <li (click)='addSubSkill($event,subSkill,skilldetail.displayKey ,i,skilldetail.skill)' id='{{skilldetail.displayKey}}{{i}}'>{{subSkill}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div style="padding:20px;">
            <table class="w3-table-all w3-card-4" id="myTable">
                <tr class="w3-orange">
                    <th class="w3-center">Skill</th>
                    <th>proficiency</th>
                    <th></th>
                </tr>
                <tr *ngFor="let userSkillDetail of userSkillDetails;let i=index">
                    <td class="col-xs-4 col-sm-4 col-md-4 col-lg-4 w3-center">
                        {{userSkillDetail.subSkill}}
                    </td>
                    <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w3-center">
                        <skicco-rating [rating]='userSkillDetail.rating' [itemId]='userSkillDetail.id' (ratingClick)='ratingComponetClick($event)'></skicco-rating>
                    </td>
                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="button" class="close" (click)=" deleteRow(i,userSkillDetail.id)" [hidden]="userSkillDetail.id == -1">&times;</button>
                    </td>
                </tr>
            </table>
        </div>
        <button class="w3-button w3-indigo w3-right-align w3-hover-opacity-off " (click)="saveSkillDetails()" [disabled]="loading">{{skillBtnText}}<img *ngIf="loading" src="/assets/images/loading.gif" /></button>
    </div>
    <div id="snackbar">
        <i class="fa fa-exclamation-triangle" style="color:red;"></i> Already you selected this skill please go to below table if you wanna remove.</div>
</div>