<!-- <div class="w3-card skicon-card" style="display:inline">
  <div class="w3-center">
    <img
      src="assets/images/user-4.jpg"
      class="thumbnail-product-resize"
    />
    <p>Peter parker</p>
  </div>
</div>
 -->

 <span class="w3-card skicon-card" >
    <span class="w3-center">
      <img
        src="assets/images/user-4.jpg"
        class="thumbnail-product-resize"
      />
      <span>Peter parker</span>
    </span>
  </span>