<div class="sticky-info">
    <mat-list role="list" class="w3-margin-left app-class">
      <i class="fa fa-ellipsis-h w3-text-grey pull-right skicco-pointer"></i>
      <mat-list-item role="listitem" (click)="navigateToUserProfile()"
        ><span><img src="assets/images/user-4.jpg" class="pic-profile" /></span
        ><span class="w3-margin-left">{{ userDashBoardDetails?.name }}</span></mat-list-item
      >

      <mat-list-item role="listitem"
        ><i class="fa fa-money skicco-text w3-large"><span class="w3-margin-left"> Balance: ₹400 </span></i>
        <button mat-button matStepperNext class="w3-indigo w3-margin">
          Add
        </button>
      </mat-list-item>

      <mat-list-item role="listitem">
        <i class="fa fa-tasks skicco-text w3-large"><span class="w3-margin-left">your skills </span></i>
      </mat-list-item>
      <mat-list-item role="listitem">
        <p>
          <span
            *ngFor="let userSkill of userSkills"
            class="w3-tag w3-small skicco-background w3-round w3-border w3-border-white"
            >{{ userSkill }}</span
          >
        </p>
      </mat-list-item>
      <mat-list-item>
        <i
          class="fa fa-skype w3-large grey-icon w3-margin-left w3-text-blue skicco-pointer"
          matTooltip="Verified skype account"
        ></i>
        <i
          class="fa fa-envelope w3-large grey-icon w3-margin-left w3-text-green skicco-pointer"
          matTooltip="Verified email"
        ></i>
        <i
          class="fa fa-linkedin-square w3-large grey-icon w3-margin-left w3-text-indigo skicco-pointer"
          matTooltip="Verified linkdin account"
        ></i>
        <i
          class="fa fa-mobile w3-large grey-icon w3-margin-left skicco-pointer"
          matTooltip="Please verify your mobile number"
        ></i>
        <i
          class="fa fa-facebook-square grey-icon w3-margin-left skicco-pointer"
          matTooltip="Please verify your facebook"
        ></i>
      </mat-list-item>
    </mat-list>
  </div>