<form id="regForm" class="w3-card  w3-container  w3-text-teal">
  <mat-tab-group [selectedIndex]="currentTab">
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="setCurrentTab(0)">
          <span class="step w3-text-teal " [ngClass]="{'active':currentTab === 0}">
            <i class="fa fa-user"></i>
          </span>
          <span class="w3-hide-small">
            Personal
          </span>
        </div>
      </ng-template>
      <h4 class="w3-text-teal">Personal details:</h4>
      <mat-form-field>
        <input matInput placeholder="First name" tabindex="0" name="firstname" [(ngModel)]="firstName" required autocomplete="off">
      </mat-form-field>
      <span class="error" *ngIf="firstNameError">{{firstNameMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="Last name" tabindex="1" name="lastname" [(ngModel)]="lastName" required autocomplete="off">
      </mat-form-field>
      <span class="error" *ngIf="lastNameError">{{lastNameMsg}}</span>

      <mat-form-field>
        <input matInput placeholder="Mobile Number" tabindex="2" name="mobile" [(ngModel)]="mobileNum" maxlength="10" required>
      </mat-form-field>
      <span class="error" *ngIf="mobileNumError">{{mobileNumMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="Adhar Number" tabindex="3" name="adhar" [(ngModel)]="adhar" maxlength="12" required>
      </mat-form-field>
      <span class="error" *ngIf="adharError">{{adharMsg}}</span>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="setCurrentTab(1)">
          <span class="step w3-text-teal" [ngClass]="{'active':currentTab === 1}">
            <i class="fa fa-home"></i>
          </span>
          <span class="w3-hide-small">
            Address
          </span>
        </div>
      </ng-template>
      <h4 class="w3-text-teal">Address:</h4>
      <mat-form-field>
        <input matInput placeholder="Address Line 1" name="doorNum" [(ngModel)]="doorNum" required>
      </mat-form-field>
      <span class="error" *ngIf="doorNumError">{{doorNumMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="City" name="city" [(ngModel)]="city" required>
      </mat-form-field>
      <span class="error" *ngIf="cityError">{{cityMsg}}</span>
      <mat-form-field>
        <mat-select placeholder="State" name="state" [(ngModel)]="state">
          <mat-option *ngFor="let state of states" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <select class="w3-select w3-border w3-text-teal" [(ngModel)]="state" name="state">
          <option *ngFor="let state of states;" [ngValue]="state" [selected]="state == 'Goa'">{{state}}</option>
        </select> -->
      <span class="error" *ngIf="stateError">{{stateMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="ZIP code" name="zipCode" [(ngModel)]="zip" maxlength="6" required>
      </mat-form-field>
      <span class="error" *ngIf="zipError">{{zipMsg}}</span>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="setCurrentTab(2)">
          <span class="step w3-text-teal" [ngClass]="{'active':currentTab === 2}">
            <i class="fa fa-book"></i>
          </span>
          <span class="w3-hide-small">
            Educational
          </span>
        </div>
      </ng-template>

      <h4 class="w3-text-teal">Educational:</h4>
      <mat-form-field>
        <mat-select placeholder="Educational qualification" name="educationalQualification" [(ngModel)]="educationalQualification">
          <mat-option *ngFor="let educationQualification of educationQualifications" [value]="educationQualification">
            {{educationQualification}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-select placeholder="Educational qualification" name="edu" [(ngModel)]="educationalQualification">
          <mat-option *ngFor="let educationQualification of educationQualifications" [value]="educationalQualification">
            {{educationQualification}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <!-- <select class="w3-select w3-border w3-text-teal" id="educational_qualification" [(ngModel)]="educationalQualification" name="educationalQualification">
          <option value="">----Educational qualification----</option>
          <option *ngFor="let educationQualification of educationQualifications" [ngValue]="educationQualification">{{educationQualification}}</option>
        </select> -->
      <span class="error" *ngIf="educationalQualificationError">{{educationalQualificationMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="Specialisation eg., electrical engineering" name="specialisation" [(ngModel)]="specialisation"
          required>
      </mat-form-field>
      <span class="error" *ngIf="specialisationError">{{specialisationMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="Year of completion" name="yearOfCompletion" [(ngModel)]="yearOfCompletion" required>
      </mat-form-field>
      <span class="error" *ngIf="yearOfCompletionError">{{yearOfCompletionMsg}}</span>
      <mat-form-field>
        <input matInput placeholder="College/University" name="college" [(ngModel)]="college" required>
      </mat-form-field>
      <span class="error" *ngIf="collegeError">{{collegeMsg}}</span>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="setCurrentTab(3)">
          <span class="step w3-text-teal" [ngClass]="{'active':currentTab === 3}">
            <i class="fa fa-clock-o"></i>
          </span>
          <span class="w3-hide-small">
            Avaliability</span>
        </div>
      </ng-template>

      <h4 class="w3-text-teal">Preferences and avaliability:</h4>
      <mat-form-field>
        <mat-select placeholder="Avaliable hours per day" name="hour" [(ngModel)]="avaliableHour">
          <mat-option *ngFor="let hour of hours" [value]="hour.id">
            {{hour.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--  <select class="w3-select w3-border w3-text-teal" name="avaliableHour" [(ngModel)]="avaliableHour">
          <option value="">-- Avaliable hours per day --</option>
          <option *ngFor="let hour of hours" value="{{hour}}">{{hour}}hours</option>
        </select> -->
      <span class="error" *ngIf="avaliableHourError">{{avaliableHourMsg}}</span>

      <mat-form-field>
        <input atp-time-picker matInput placeholder="Available from" name="from" [(ngModel)]="fromTime" required>
      </mat-form-field>
      <span class="error" *ngIf="fromTimeError">{{fromTimeMsg}}</span>
      <mat-form-field>
        <input atp-time-picker matInput placeholder="Available upto" name="to" [(ngModel)]="toTime" required>
      </mat-form-field>
      <span class="error" *ngIf="toTimeError">{{toTimeMsg}}</span>
      <mat-form-field>
        <mat-select placeholder="Distance you can travel for work" name="distances" [(ngModel)]="distance">
          <mat-option *ngFor="let distance of distances" [value]="distance">
            {{distance}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <select class="w3-select w3-border w3-text-teal" name="distanceTravel" [(ngModel)]="distance">
          <option value="{{distance}}" *ngFor="let distance of distances">{{distance}}</option>
        </select> -->
      <span class="error" *ngIf="distanceError">{{distanceMsg}}</span>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div (click)="setCurrentTab(4)">
          <span class="step w3-text-teal" [ngClass]="{'active':currentTab === 4}">
            <i class="fa fa-handshake-o"></i>
          </span>
          <span class="w3-hide-small">
            Self introduction:
          </span>
        </div>
      </ng-template>

      <h4 class="w3-text-teal">Self introduction:</h4>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Self introduction (not more than 1000 characters)" rows=12 id='txtArea' maxlength=1000 [(ngModel)]="introduction"
          name="intro"></textarea>
      </mat-form-field>
      <div id="charNum"></div>
      <span class="error" *ngIf="introductionError">{{introductionMsg}}</span>
    </mat-tab>
  </mat-tab-group>
  <div style="float: right;">
    <button mat-button (click)="nextPrev(-1)" *ngIf="prevBtn">Previous</button>
    <button mat-button id="nextBtn" (click)="nextPrev(1)" *ngIf="nextBtn">Next</button>
    <button mat-button id="nextBtn" (click)="userDetailsSubmit()" *ngIf="submitBtn">Submit</button>
  </div>
</form>
<!-- <p>{{userDetails|json}}</p> -->