/* body {
    background-color: #f1f1f1;
  } */
#regForm {
  /* background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway; */
  padding: 40px;
  /* width: 75%;
    min-width: 300px; */
  margin-top: 10px;
}
h1 {
  text-align: center;
}
mat-form-field {
  width: 100%;
}
/* button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.8;
  }
  #prevBtn {
    background-color: #bbbbbb;
  } */
/* Make circles that indicate the steps of the form: */
.step {
  margin: 0 2px;
  border: none;
  display: inline-block;
  opacity: 0.2;
  font-size: 31px;
}
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}
/* #txtArea{
  margin-bottom:45px;
  }
  #charNum{
  margin-top:-40px;
  margin-bottom:20px;
  }
   #snackbar {
      min-width: 250px;
      margin-left: -125px;
      background-color: red;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 40px;
      font-size: 17px;
  } */

/* :host/deep/snack-bar-container {
  .mat-snack-bar-container {
  }
} */
/* ::ng-deep .mat-snack-bar-container  .mat-simple-snackbar {
    background-color: red;
  } */