<fieldset class="rating">
    <input type="radio" [name]="inpustName" value="5" [checked]="rating===5" />
    <label title="expert" (click)='onClick(5)'>5 stars</label>

    <input type="radio" [name]="inpustName" value="4" [checked]="rating===4" />
    <label title="professional" (click)='onClick(4)'>4 stars</label>

    <input type="radio" [name]="inpustName" value="3" [checked]="rating===3" />
    <label title="intermediate" (click)='onClick(3)'>3 stars</label>

    <input type="radio" [name]="inpustName" value="2" [checked]="rating===2" />
    <label title="beginner with some knowledge" (click)='onClick(2)'>2 stars</label>

    <input type="radio" [name]="inpustName" value="1" [checked]="rating===1" />
    <label title="Beginner" (click)='onClick(1)'>1 star</label>
</fieldset>