<div class="row" id="skicon-profile">
  <mat-card class="col-md-3 w3-padding w3-center">
    <h3 class="skicco-background">Skicon profile</h3>
    <img src="assets/images/user-4.jpg" class="user-picture" />
    <mat-card class="w3-padding w3-margin w3-center">
      <p>
        <b>{{ skiconProfile.userDashBoardDetailsDTO.name }}</b>
      </p>
      <p>
        <i class="fa fa-map-marker-alt skicco-text w3-margin-margin"></i>
        {{ skiconProfile.userDashBoardDetailsDTO.userAddress[0].city }},
        {{ skiconProfile.userDashBoardDetailsDTO.userAddress[0].country }}
      </p>
      <p>
        Available from {{ skiconProfile.userDashBoardDetailsDTO.userPreferences[0].fromTime }} to
        {{ skiconProfile.userDashBoardDetailsDTO.userPreferences[0].toTime }} for
        {{ skiconProfile.userDashBoardDetailsDTO.userPreferences[0].noOfHours }} hours
      </p>
    </mat-card>
    <mat-card class="w3-padding w3-margin w3-center">
      <p>skills</p>
      <p>
        <span
          *ngFor="let userSkill of userSkills"
          class="w3-tag w3-small skicco-background w3-round w3-border w3-border-white"
          >{{ userSkill }}</span
        >
      </p>
    </mat-card>
  </mat-card>
  <div class="col-md-6">
    <div class="w3-margin">
      <span class="w3-right"
        ><i
          class="fa fa-file-pdf skicco-text skicco-pointer w3-large w3-margin-right"
          matTooltip="download pdf"
          (click)="downloadPdf()"
        ></i>
        <i
          class="fa fa-share-alt skicco-text skicco-pointer w3-large w3-margin-right"
          matTooltip="Share your profile"
        ></i
      ></span>
    </div>
    <mat-card class="w3-padding w3-center" style="margin-top: 50px;">
      <p class="">{{ this.skiconProfile.userDashBoardDetailsDTO.userDetails.introduction }}</p>
      <p class="">projects and ratings</p>
    </mat-card>
  </div>
</div>
