<div
  style="color: green; margin-top: 200px;margin-bottom: 300px;text-align:center;"
>
  <div *ngIf="wrong">
    <i class="fa fa-thermometer-full w3-jumbo w3-text-red"></i>
    <p class="w3-large w3-text-red">
      Opps over heated..!! something went wrong.
    </p>
  </div>
</div>
