.project-heading {
  font-size: 15px;
  font-weight: bold;
  color: #2c4061;
  /* margin-right: 5px; */
}
.activity {
  font-size: 13px;
  margin: 5px;
}
.hirer-name {
  font-size: 15px;
  font-weight: bold;
  color: #2c4061;
  /* margin: 5px; */
}
.user-thumbnail {
  border-radius: 50%;
  height: 50px;
  width: auto;
  cursor: pointer;
}
.project-icon {
  height: 25px;
  width: auto;
  border-radius: 50%;
  margin:1px;
}
.skicco-background {
  background-color: #2c4061;
}
.skicco-text {
  color: #2c4061;
}
.no-focus{
    outline: none;
}
