<mat-card class="w3-margin project-card">
  <i
    class="fa fa-heart w3-right grey-icon skicco-pointer"
    [ngClass]="{ 'w3-text-red w3-animate-opacity': isFavourite }"
    (click)="isFavourite = !isFavourite"
    matTooltip="Add to favourite projects"
  ></i>
  <h3>
    <span><img src="assets/images/user-1.jpg" class="user-thumbnail w3-left w3-margin-right" /></span>
    <span class="project-heading"
      ><a href="javascript:void(0)" (click)="projectTitleClick(project)">{{ project.title }}</a></span
    >
    <span class="activity">posted by</span
    ><span class="hirer-name"
      ><a href="javascript:void(0)">{{ project.hirerName }}</a
      ><!--  --><i class="fa fa-check-circle w3-text-blue" matTooltip="Verified hirer"></i
    ></span>
    <span class="activity">on {{ project.genericDetails.createdTime | date: 'MMMM d, y, h:mm:ss a z' }}</span>
    <p *ngIf="project.locationType == 'remote' || null">
      <i class="fa fa-map-marker skicco-text w3-large" matTooltip="remote location"></i
      ><span class="activity">{{ project.locationType }}</span>
    </p>

    <p *ngIf="project.locationType == 'country'">
      <i class="fa fa-map-marker skicco-text w3-large" matTooltip="You should be from {{ project.country }}"></i>
      <span class="activity">{{ project.country }}</span>
    </p>
    <p *ngIf="project.locationType == 'onsite'">
      <i class="fa fa-map-marker skicco-text w3-large"></i>
      <span class="activity">{{ project.city }},{{ project.country }}</span>
    </p>
  </h3>

  <p [innerHTML]="project.description" class="sentence-wrap"></p>
  <p>
    <i class="fa fa-inr skicco-text w3-large w3-margin-right" label="skills required" matTooltip="Estimated budget"></i
    >{{ project.estimatedBudget }}
    <span *ngIf="project.budgetType == 'mileStone'"> per milestone</span>
    <span *ngIf="project.budgetType == 'fixed'"> fixed</span>
    <span *ngIf="project.budgetType == 'hourly'"> per hour per head</span>
  </p>
  <p>
    <i
      class="fa fa-tags skicco-text w3-large w3-margin-right"
      label="skills required"
      matTooltip="skills required for this project"
    ></i
    ><!-- {{ project.subSkillsStr }} --><span
      class="w3-tag w3-small skicco-background w3-round w3-border w3-border-white skicco-pointer"
      *ngFor="let skill of skills"
      >{{ skill }}</span
    >
  </p>
  <p>
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.budgetType == 'fixed'"
      matTooltip="Fixed budget"
      aria-label="Budget is fixed"
      ><i class="fa fa-lock w3-text-white"> </i
      ><!-- <p>fixed budget</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.budgetType == 'hourly'"
      matTooltip="Hourly budget"
      aria-label="pay per hour"
      ><i class="fa fa-hourglass-half w3-text-white"></i
      ><!-- <p>Pay per hour</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.budgetType == 'mileStone'"
      matTooltip="Milestone budget"
      aria-label="payment will be in parts per work"
      ><i class="fa fa-map-signs w3-text-white"></i
      ><!-- <p>Milestone payment</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.numberOfResources == 1"
      matTooltip="single resource project"
      aria-label="you are the only one resource to this project"
      ><i class="fa fa-user w3-text-white"></i
      ><!-- <p>Milestone payment</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.numberOfResources >= 2"
      matTooltip="Team project"
      aria-label="required two or more people"
      ><i class="fa fa-users w3-text-white"></i
      ><!-- <p>Milestone payment</p> --></span
    >
  </p>
  <hr />
  <button
    mat-button
    class="no-focus"
    [ngClass]="{ 'skicco-background w3-text-white': isShownInterest }"
    (click)="isShownInterest = !isShownInterest"
    style="margin: -5px;"
  >
    <!-- (click)="showInterest();isShownInterest=!isShownInterest" -->
    <i class="fa fa-hand-paper-o w3-large" [ngClass]="{ 'fa-handshake-o': isShownInterest }"></i>
    Show interest
  </button>
  <span class="w3-small w3-right" *ngIf="skillMatch < 25" matTooltip="Your skill match {{ skillMatch }} %"
    ><i class="fa fa-circle w3-text-red"></i>{{ skillMatch }}%</span
  >
  <span
    class="w3-small w3-right"
    *ngIf="skillMatch >= 25 && skillMatch < 50"
    matTooltip="Your skill match {{ skillMatch }} %"
    ><i class="fa fa-circle w3-text-orange"></i>{{ skillMatch }}%</span
  >
  <span
    class="w3-small w3-right"
    *ngIf="skillMatch >= 50 && skillMatch < 75"
    matTooltip="Your skill match {{ skillMatch }} %"
    ><i class="fa fa-circle w3-text-blue"></i>{{ skillMatch }}%</span
  >
  <span class="w3-small w3-right" *ngIf="skillMatch >= 75" matTooltip="Your skill match {{ skillMatch }} %"
    ><i class="fa fa-circle w3-text-green"></i>{{ skillMatch }}%</span
  >
</mat-card>
