.full-width {
  width: 100%;
}

.cat-icon {
  font-size: 20px;
  color: #cccccc;
}
.cat-icon-selected {
  font-size: 20px;
  color: #2c4061;
}
.cat-selected {
  /* border:1px solid;
  border-color: #2c4061; */
  color: #000000 !important;
}

.form {
  margin: auto 100px;
}
