<div class="col-md-3"></div>
<form
  [formGroup]="hirerDetailsForm"
  (ngSubmit)="submit()"
  class="col-md-6 col-sm-12 col-xs-12"
>
  <h2 class="w3-center">Hirer details</h2>
  <mat-card class="w3-card w3-margin">
    <mat-card-content>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="First name"
              formControlName="firstName"
            />
            <!-- <div *ngIf="hirerDetailsForm.controls['firstName'].errors && !hirerDetailsForm.controls['firstName'].pristine"> -->
            <!-- <div *ngIf="hirerDetailsForm.controls.firstName.errors !== null"> -->
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.firstName.errors &&
                hirerDetailsForm.controls.firstName.errors.required
              "
              class="error"
              >First name is required</mat-error
            >
            <!-- </div> -->
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Last name"
              formControlName="lastName"
            />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.lastName.errors &&
                hirerDetailsForm.controls.lastName.errors.required
              "
              class="error"
              >Last name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
      </div>
    </mat-card-content>
  </mat-card>
  <p class="w3-center">Client Type</p>
  <mat-card class="w3-card w3-margin">
    <mat-card-content>
      <div class="row">
        <div class="col-md-1"></div>
        <div
          class="col-md-5 col-sm-6 col-xs-6 skicco-pointer  cat-icon"
          (click)="setClientType('corporate')"
          [ngClass]="{ 'cat-selected': clientType === 'corporate' }"
        >
          <i
            class="fa fa-check w3-margin-right"
            *ngIf="clientType === 'corporate'"
          ></i>
          <i class="material-icons w3-large">business</i
          ><span class="w3-margin-left">Corporate</span>
        </div>
        <div
          class="col-md-5 col-sm-6 col-xs-6 skicco-pointer cat-icon"
          (click)="setClientType('individual')"
          [ngClass]="{ 'cat-selected': clientType === 'individual' }"
        >
          <i
            class="fa fa-check w3-margin-right"
            *ngIf="clientType === 'individual'"
          ></i>
          <i class="fa fa-user w3-large"></i>
          <span class="w3-margin-left">Individual</span>
        </div>
      </div>

      <div class="row" *ngIf="clientType === 'corporate'">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Company name"
              formControlName="companyName"
            />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.companyName.errors &&
                hirerDetailsForm.controls.companyName.errors.required
              "
              class="error"
              >company name is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Your position"
              formControlName="position"
            />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.position.errors &&
                hirerDetailsForm.controls.position.errors.required
              "
              class="error"
              >position is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
      </div>
    </mat-card-content>
  </mat-card>
  <!--  <p class="w3-center" *ngIf="clientType === 'corporate'">Your role</p>
  <mat-card class="w3-card w3-margin" >
    <mat-card-content>
      
    </mat-card-content>
  </mat-card> -->
  <!-- Address -->
  <p class="w3-center">Address details</p>
  <mat-card class="w3-card w3-margin">
    <mat-card-content>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Address line 1"
              formControlName="addr"
            />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.addr.errors &&
                hirerDetailsForm.controls.addr.errors.required
              "
              class="error"
              >Address is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city" />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.city.errors &&
                hirerDetailsForm.controls.city.errors.required
              "
              class="error"
              >City is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput placeholder="State" formControlName="state" />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.state.errors &&
                hirerDetailsForm.controls.state.errors.required
              "
              class="error"
              >State is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput placeholder="Country" formControlName="country" />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.country.errors &&
                hirerDetailsForm.controls.country.errors.required
              "
              class="error"
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Zip code"
              formControlName="zipCode"
              maxlength="6"
            />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.zipCode.errors &&
                hirerDetailsForm.controls.zipCode.errors.required
              "
              class="error"
              >Zipcode is required</mat-error
            >
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.zipCode.errors &&
                hirerDetailsForm.controls.zipCode.errors.invalidNumber &&
                !hirerDetailsForm.controls.zipCode.errors.required
              "
              class="error"
            >
              zip code must be a number</mat-error
            >
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.zipCode.errors &&
                hirerDetailsForm.controls.zipCode.errors.minLength &&
                !hirerDetailsForm.controls.zipCode.errors.required
              "
              class="error"
            >
              zip code must be a minimum of 6 digits</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Mobile number"
              formControlName="mobileNumber"
              maxlength="10"
            />
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.mobileNumber.errors &&
                hirerDetailsForm.controls.mobileNumber.errors.required
              "
              class="error"
              >Mobile number is required</mat-error
            >
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.mobileNumber.errors &&
                hirerDetailsForm.controls.mobileNumber.errors.invalidNumber &&
                !hirerDetailsForm.controls.mobileNumber.errors.required
              "
              class="error"
              >phone number must be a number</mat-error
            >
            <mat-error
              align="start"
              *ngIf="
                hirerDetailsForm.controls.mobileNumber.errors &&
                hirerDetailsForm.controls.mobileNumber.errors.minLength &&
                !hirerDetailsForm.controls.mobileNumber.errors.required &&
                !hirerDetailsForm.controls.mobileNumber.errors.invalidNumber
              "
              class="error"
            >
              phone must be a minimum of 10 digits</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="w3-indigo w3-margin w3-right">
        <!-- [disabled]="!hirerDetailsForm.valid" -->
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<div class="col-md-3"></div>
