<div class="skicco-background w3-text-white w3-center header-background"></div>
<div>
  <h3 class="w3-center w3-text-white">Post project</h3>
  <div class="col-md-3 w3-text-white w3-center w3-hide-small">
    <p style="font-size: 30px;">
      post your project and hire people who are really passionate about work.
    </p>
  </div>
  <div
    class="w3-margin"
    style="margin: auto;position: relative;"
    class="col-md-6 col-sm-12"
  >
    <mat-vertical-stepper [linear]="true" #stepper class="w3-card">
      <mat-step>
        <form>
          <ng-template matStepLabel>Project details:</ng-template>
          <mat-form-field>
            <input
              matInput
              placeholder="Title of your work"
              name="title"
              [(ngModel)]="title"
              required
            />
            <mat-hint>Eg., gardening or shopping website.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-select
              placeholder="Number of people required."
              [(ngModel)]="numberOfResources"
              name="numberOfResources"
            >
              <mat-option [value]="1"> 1 </mat-option>
              <mat-option [value]="2"> 2 </mat-option>
              <mat-option [value]="3"> 3 </mat-option>
              <mat-option [value]="4"> 4 </mat-option>
              <mat-option [value]="5"> 5 </mat-option>
              <mat-option [value]="6"> 6 </mat-option>
              <mat-option [value]="7"> 7 </mat-option>
              <mat-option [value]="8"> 8 </mat-option>
              <mat-option [value]="9"> 9 </mat-option>
              <mat-option [value]="9"> 9+ </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              name="description"
              placeholder="Please provide detailed description of your project:"
              rows="7"
              id="txtArea"
              maxlength="10000"
              [(ngModel)]="description"
              required
            ></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext class="w3-indigo">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>Skill required for the project</ng-template>
          <p>What is the field your work belongs to.?</p>
          <div class="div-wrapper">
            <mat-chip-list
              *ngFor="let skilldetail of skillDetails"
              style="display:inline"
            >
              <mat-chip
                color="primary"
                (click)="
                  mainSkill = skilldetail.skill;
                  setSubSkills(skilldetail.subSkills)
                "
                [selected]="mainSkill == skilldetail.skill"
                class="skicco-pointer"
                >{{ skilldetail.skill }}</mat-chip
              >
            </mat-chip-list>
          </div>
          <!-- auto complete chipset -->
          <!-- <p>{{ subSkills | json }}</p> -->
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let subSkill of subSkills"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(subSkill)"
              >
                {{ subSkill }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="select the skills required for your project."
                #subSkillInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
                name="subSkills"
                [disabled]="!mainSkill"
                (keyup)="applyFilter($event.target.value)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let subSkill of filteredSkills"
                [value]="subSkill"
              >
                {{ subSkill }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!--project start datepicker-->
          <mat-form-field>
            <input
              matInput
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker"
              placeholder="Project start date"
              name="datePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <p>Upload useful files for your project</p>
          <div
            class="file-upload-container skicco-pointer"
            (click)="fileInput.click()"
            (drop)="fileInput.click()"
          >
            <button
              md-raised-button
              color="primary"
              class="w3-button w3-indigo"
            >
              Upload
            </button>
            <input hidden type="file" #fileInput /><!-- #fileInput -->
            <p
              style="display: inline; color:#999999;"
              class="w3-right w3-hide-small"
            >
              Drag and drop documents which will be helpful for your project
              here.
            </p>
          </div>
          <div>
            <button mat-button matStepperPrevious class="w3-grey">Back</button>
            <button mat-button matStepperNext class="w3-indigo w3-margin">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Location and Budget:</ng-template>
        <div>
          <p>Budget type.?</p>
          <div class="row">
            <div
              class="col-md-4 col-sm-4 w3-center skicco-pointer w3-padding budget-container"
              [ngClass]="{ 'w3-card budget-selected': budgetType === 'fixed' }"
              (click)="budgetType = 'fixed'; setBudget(budgetType);"
            >
              <i
                class="fa fa-lock budget-icon "
                [ngClass]="{ 'budget-icon-selected ': budgetType === 'fixed' }"
              ></i>
              <p><b>Fixed</b></p>
              <p>Budget will be fixed. Best for one go project.</p>
            </div>
            <div
              class="col-md-4 col-sm-4 w3-center skicco-pointer w3-padding budget-container"
              [ngClass]="{ 'w3-card budget-selected': budgetType === 'hourly' }"
              (click)="budgetType = 'hourly'; setBudget(budgetType);"
            >
              <i
                class="fa fa-hourglass-half budget-icon "
                [ngClass]="{ 'budget-icon-selected': budgetType === 'hourly' }"
              ></i>
              <p><b>Pay per hour</b></p>
              <p>
                Pay hourly. Good for on going work and continous monitoring.
              </p>
            </div>
            <div
              class="col-md-4 col-sm-4 w3-center skicco-pointer w3-padding budget-container"
              [ngClass]="{
                'w3-card budget-selected': budgetType === 'mileStone'
              }"
              (click)="budgetType = 'mileStone'; setBudget(budgetType);"
            >
              <i
                class="fa fa-map-signs budget-icon"
                [ngClass]="{
                  'budget-icon-selected': budgetType === 'mileStone'
                }"
              ></i>
              <p><b>Mile stone</b></p>
              <p>
                Divide your project in to milestones and pay on completion of
                each.
              </p>
            </div>
          </div>
        </div>
        <mat-form-field class="w3-margin-top">
          <mat-select
            placeholder="please select your budget."
            [(ngModel)]="estimatedBudget"
          >
            <mat-option *ngFor="let budget of budgets" [value]="budget.value">
              {{ budget.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <!-- class="w3-margin-top" -->
          <mat-select
            placeholder="Work location of your project."
            [(ngModel)]="locationType"
          >
            <mat-option
              *ngFor="let location of locations"
              [value]="location.value"
            >
              {{ location.name }}
            </mat-option>
          </mat-select> </mat-form-field
        ><!-- *ngIf="locationType === country" -->
        <mat-form-field *ngIf="locationType === 'country'">
          <mat-select
            placeholder="please select country"
            [(ngModel)]="prefCountry"
          >
            <mat-option
              *ngFor="let country of countries"
              [value]="country.value"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious class="w3-grey">Back</button>
          <button mat-button matStepperNext class="w3-indigo w3-margin">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Preview and post project:</ng-template>
        <div class="col-md-3">
          <span
            ><i
              class="fa fa-align-justify"
              style="color:#2c4061;font-size:40px;"
            ></i
          ></span>
        </div>
        <div class="col-md-9">
          <h4>{{ title }}</h4>
          <p>{{ description }}</p>
          <span *ngFor="let subSkill of subSkills">
            <span
              class="w3-tag w3-small w3-indigo  w3-round w3-border w3-border-white"
              >{{ subSkill }}</span
            >
          </span>
        </div>
        <button mat-button matStepperPrevious class="w3-grey">Back</button>
        <button mat-button class="w3-indigo w3-margin" (click)="postProject()">
          Post project
        </button>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div class="col-md-3 w3-text-white w3-hide-small">
    <ul style="list-style-type:none">
      <li><i class="fa fa-check-square"></i> Its free to post your project.</li>
      <li>
        <i class="fa fa-check-square"></i> You can choose a from a wide variety
        of options.
      </li>
      <li><i class="fa fa-check-square"></i> Hire the best skicons.</li>
    </ul>
  </div>
</div>
<!-- {{ project | json }} -->
