mat-form-field {
  width: 100%;
}
mat-chip:hover {
  cursor: pointer;
}
.div-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-chip-list {
  display: inline;
}
.header-background {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 400px;
  width: 100%;
  z-index: -1;
}
.file-upload-container {
  position: relative;
  padding: 6px;
  background: #fff;
  border: 1px dashed #999999;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 3px 3px 3px 3px;
  background-clip: padding-box;
}
.file-upload-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.budget-icon {
  font-size: 30px;
  color: #cccccc;
}
.budget-icon-selected {
  font-size: 30px;
  color: #2c4061;
}
.budget-selected {
  /* border:1px solid;
  border-color: #2c4061; */
  color: #000000 !important;
}
.budget-container {
  color: #cccccc;
}
