body, html {
    height: 100%;
}

.bg { 
    background-image: url("/src/assets/images/nano.jpg");
    height: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0px;
}

     .jumbotron {
      margin-bottom: 0;
	  background-image: url("/src/assets/images/staff.jpg");
	background-position: center;
	background-size: cover;
	
    }
   
   
	.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
 .card{
 
 margin:40px;
 display: block;

 }
 .front{
 
	
	background-color: #fff !important;
    color: #2C4061;
	
 
 }
 .back{

 background-color: #fff !important;
      color: #2C4061;
	  
	
 }

 
 @media screen and (max-width:740px){
 .card{
 margin-top:100px;
 }
 
 }
 .conhov{
 padding-top:90px
 }
 .glypi {
      color: #2C4061;
      font-size: 130px;
	  padding:0px
  }
.ani{
color:#2C4061;
}
div.col-sm-4 div {
      height: 200px;
      
	  
  }
  .btn{
  color: #fff;
  background-color: #2C4061;
  border: 2px solid #fff;
    border-radius: 5px;
	
  }
    .btn-lg:hover{
	color: #2C4061; 
	background-color: #fff;
	 border: 2px solid #fff;
    border-radius: 5px;
	}
	.btn-lg:focus{
	outline:none;
	}
.modal{
 
    z-index:9999;
}
.lin{
color:#fff;
}
	
#mark_back{
background-color:#fff;
}
.img-circle{
margin-left:40px;
}
