<div class="col-md-2"></div>
<div class="col-md-8">
  <mat-card class="w3-margin">
    <span routerLink="/skicon/dashboard" class="skicco-pointer"
      ><i class="fa fa-arrow-left w3-large skicco-text"></i> Back</span
    ><i
    class="fa fa-heart w3-right grey-icon skicco-pointer"
    [ngClass]="{ 'w3-text-red w3-animate-opacity': isFavourite }"
    (click)="isFavourite = !isFavourite"
    matTooltip="Add to favourite projects"
  ></i>
    <h3 class="w3-center skicco-text">{{ project.title }}</h3>
    <!-- <p class="w3-left">{{project.genericDetails.createdTime}}</p> -->
    
  </mat-card>
  <mat-card class="w3-margin">
      <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.budgetType == 'fixed'"
      matTooltip="Fixed budget"
      aria-label="Budget is fixed"
      ><i class="fa fa-lock w3-text-white  "> </i
      ><!-- <p>fixed budget</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.budgetType == 'hourly'"
      matTooltip="Hourly budget"
      aria-label="pay per hour"
      ><i class="fa  fa-hourglass-half w3-text-white"></i
      ><!-- <p>Pay per hour</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.budgetType == 'mileStone'"
      matTooltip="Milestone budget"
      aria-label="payment will be in parts per work"
      ><i class="fa fa-map-signs w3-text-white"></i
      ><!-- <p>Milestone payment</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.numberOfResources == 1"
      matTooltip="single resource project"
      aria-label="you are the only one resource to this project"
      ><i class="fa fa-user w3-text-white"></i
      ><!-- <p>Milestone payment</p> --></span
    >
    <span
      class="skicco-background w3-padding project-icon"
      *ngIf="project.numberOfResources >= 2"
      matTooltip="Team project"
      aria-label="required two or more people"
      ><i class="fa fa-users w3-text-white"></i
      ><!-- <p>Milestone payment</p> --></span
    >

    <i class="fa fa-ellipsis-h  w3-right w3-large grey-icon skicco-pointer" [matMenuTriggerFor]="projectMenu"></i>
    <mat-menu #projectMenu="matMenu">
        <mat-list>
            <mat-list-item class="skicco-pointer"
              ><i class="fa fa-flag skicco-text w3-margin-right"></i>
              report project </mat-list-item
            ><!-- <mat-list-item  class="skicco-pointer">
              <i class="fa fa-unlock  skicco-text w3-margin-right"></i> Logout
            </mat-list-item> --></mat-list
          >
      </mat-menu>
      <i class="fa fa-share w3-margin-right w3-right w3-large skicco-text skicco-pointer" matTooltip="share this project" [matMenuTriggerFor]="shareMenu"></i>
      <mat-menu #shareMenu="matMenu">
          <mat-list>
              <mat-list-item class="skicco-pointer"
                ><i class="fa fa-whatsapp skicco-text w3-margin-right"></i>
                whatsapp</mat-list-item>
                <mat-list-item class="skicco-pointer"
                ><i class="fa fa-envelope skicco-text w3-margin-right"></i>
                email</mat-list-item>
                <mat-list-item class="skicco-pointer"
                ><i class="fa fa-clone skicco-text w3-margin-right"></i>
                copy link</mat-list-item>
                <!-- <mat-list-item  class="skicco-pointer">
                <i class="fa fa-unlock  skicco-text w3-margin-right"></i> Logout
              </mat-list-item> --></mat-list
            >
        </mat-menu>
    </mat-card>
  <mat-card class="w3-margin">
    <button class="w3-button w3-indigo w3-right">Show interest</button>
    <h5 class=" skicco-text">Description:</h5>
    <p>{{ project.description }}</p>
    <h6>Budget: <b class="skicco-text"><i class="fa fa-inr"></i> {{project.estimatedBudget}}</b></h6>
    <p>
        <i
          class="fa fa-tags skicco-text w3-large w3-margin-right"
          label="skills required"
          matTooltip="skills required for this project"
        ></i
        ><!-- {{ project.subSkillsStr }} --><span  class="w3-tag w3-small skicco-background  w3-round w3-border w3-border-white" *ngFor="let skill of skills">{{skill}}</span>
      </p>
    <hr>
    <h5>Hirer:</h5>
    <p><b>Harsha</b> <i
      class="fa fa-check-circle w3-text-blue "
      matTooltip="Verified hirer"
    ></i
  ></p><!-- {{project.hirerName}} -->
  </mat-card>
</div>
<div class="col-md-2"></div>
