<h1>404 Error</h1>
<p class="zoom-area"><b>Page not found </b></p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
  <a href="#" class="more-link">Go to home page</a>
</div>