<div class="w3-bar skicco-background" style="top: 0; position: -webkit-sticky; position: sticky; z-index: 9999;">
  <span class="w3-hide-large"
    ><i
      class="fa fa-bars w3-text-white w3-large w3-left w3-margin"
      style="cursor: pointer;"
      (click)="visibleSidebar = true"
    ></i
  ></span>
  <div class="w3-right">
    <i
      class="fab fa-cloudscale w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Dashboard"
      (click)="showCategory('allProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'allProjects' }"
    ></i>
    <i
      class="fa fa-signal w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Project stats"
      (click)="showCategory('allProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === '' }"
    ></i>
    <i
      class="fa fa-suitcase w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Your projects"
      (click)="showCategory('myProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'myProjects' }"
    ></i>
    <i
      class="fa fa-heart w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Favourite skicons"
      (click)="showCategory('favouriteProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'favouriteProjects' }"
    ></i>
    <!-- <i
      class="fa fa-handshake-o w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Interested projects"
      (click)="showCategory('interestedProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'interestedProjects' }"
    ></i> -->

    <i
      class="fa fa-envelope w3-text-white w3-large w3-margin skicco-pointer"
      matBadge="22"
      matBadgePosition="above after"
      [matMenuTriggerFor]="messages"
    ></i>
    <mat-menu #messages="matMenu">
      <mat-list>
        <mat-list-item>messages 1</mat-list-item>
        <mat-list-item>messages 2</mat-list-item></mat-list
      >
    </mat-menu>

    <i
      class="fa fa-bell w3-text-white w3-large w3-margin skicco-pointer"
      matBadge="9"
      matBadgePosition="above after"
      [matMenuTriggerFor]="notifications"
    ></i>
    <mat-menu #notifications="matMenu">
      <mat-list>
        <mat-list-item>note 1</mat-list-item>
        <mat-list-item>note 2</mat-list-item></mat-list
      >
    </mat-menu>
    <i [matMenuTriggerFor]="settings" class="fa fa-cog w3-text-white w3-large w3-margin skicco-pointer"></i>
    <mat-menu #settings="matMenu">
      <mat-list
        ><i class="fa"></i>
        <mat-list-item class="skicco-pointer" (click)="switchToSkicon()"
          ><i class="fa fa-user skicco-text w3-margin-right"></i> Switch to skicon
        </mat-list-item>
        <mat-list-item class="skicco-pointer"
          ><i class="fa fa-cog skicco-text w3-margin-right"></i> Settings </mat-list-item
        ><mat-list-item (click)="logout()" class="skicco-pointer">
          <i class="fa fa-unlock skicco-text w3-margin-right"></i> Logout
        </mat-list-item></mat-list
      >
    </mat-menu>
  </div>
</div>
<div class="row">
  <div class="col-md-3 w3-hide-small">
    <div class="sticky-info">
      <mat-list role="list" class="w3-margin-left">
        <i class="fa fa-ellipsis-h w3-text-grey pull-right skicco-pointer"></i>
        <mat-list-item role="listitem"
          ><span><img src="assets/images/Elon-Musk.jpg" class="pic-profile" /></span
          ><span class="w3-margin-left"
            >Elon musk <i class="fa fa-check-circle w3-text-blue" matTooltip="Your account has been verified"></i></span
        ></mat-list-item>
      </mat-list>
      <mat-list-item role="listitem"
        ><span
          >Your Money : <i class="fa fa-inr"></i> 96542.00
          <button mat-button matStepperNext class="w3-indigo w3-margin">
            Add cash
          </button>
        </span></mat-list-item
      >
      <mat-list-item role="listitem">
        <i class="fa fa-file-invoice skicco-text w3-large"><span class="w3-margin-left">Invoices </span></i>
      </mat-list-item>
    </div>
  </div>

  <div class="col-md-6">
    <h3 class="w3-center">Your projects</h3>
    <div *ngIf="projects.length != 0">
      <mat-card>
        <table class="w3-table">
          <tr>
            <th>Title</th>
            <th>Skicons</th>
            <th>Status</th>
          </tr>
          <tr class="skicco-pointer" *ngFor="let project of projects">
            <td>{{ project.title }}</td>
            <td>
              <span><img src="assets/images/user-2.jpg" title="alena" class="user-thumbnail" /></span>
              <span><img src="assets/images/user-4.jpg" title="george" class="user-thumbnail" /></span>
              <span><img src="assets/images/user-1.jpg" title="peter" class="user-thumbnail" /></span>
              <span><img src="assets/images/user-3.jpg" title="tamara" class="user-thumbnail" /></span>
            </td>
            <td>
              <span class="w3-blue w3-tag">{{ project.hirerName }}</span>
            </td>
          </tr>
        </table>
      </mat-card>
    </div>
    <div *ngIf="projects?.length == 0">
      <p class="error">No projects yet</p>
    </div>
  </div>
</div>
