table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .carousel-control.right{
    background-image: none;
  }

  .carousel-control.left{
    background-image: none;
  }