<div class="overlay" *ngIf="loading">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
    <div class="bounce4"></div>
    <h1 class="loading">SKICCO</h1>
  </div>
</div>