.spinner {
    /* margin: 15.33% auto 0; */
    margin: 20% auto 0;
    width: 93.33px;
    text-align: center;
  }

  .loading{
      color:#2c4061;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #2c4061;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .spinner .bounce3 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  .overlay{
    position: fixed; /* Sit on top of the page content */
    /* display: none;  *//* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */ /* Add a pointer on hover */
  }