<div class="w3-bar skicco-background" style="top: 0; position: -webkit-sticky; position: sticky; z-index: 9;">
  <div class="w3-right">
    <i
      class="fa fa-newspaper-o w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Project Feed"
      (click)="showCategory('allProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'allProjects' }"
    ></i>
    <i
      class="fa fa-suitcase w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Your projects"
      (click)="showCategory('myProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'myProjects' }"
    ></i>
    <i
      class="fa fa-heart w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Favourite projects"
      (click)="showCategory('favouriteProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'favouriteProjects' }"
    ></i>
    <i
      class="fa fa-handshake-o w3-text-white w3-large w3-margin skicco-pointer"
      matTooltip="Interested projects"
      (click)="showCategory('interestedProjects')"
      [ngClass]="{ 'w3-text-grey': displayCategory === 'interestedProjects' }"
    ></i>

    <i
      class="fa fa-envelope w3-text-white w3-large w3-margin skicco-pointer"
      matBadge="22"
      matBadgePosition="above after"
      [matMenuTriggerFor]="messages"
    ></i>
    <mat-menu #messages="matMenu">
      <mat-list>
        <mat-list-item>messages 1</mat-list-item>
        <mat-list-item>messages 2</mat-list-item></mat-list
      >
    </mat-menu>

    <i
      class="fa fa-bell w3-text-white w3-large w3-margin skicco-pointer"
      matBadge="9"
      matBadgePosition="above after"
      [matMenuTriggerFor]="notifications"
    ></i>
    <mat-menu #notifications="matMenu">
      <mat-list>
        <mat-list-item>note 1</mat-list-item>
        <mat-list-item>note 2</mat-list-item></mat-list
      >
    </mat-menu>
    <i [matMenuTriggerFor]="settings" class="fa fa-cog w3-text-white w3-large w3-margin skicco-pointer"></i>
    <mat-menu #settings="matMenu">
      <mat-list
        ><i class="fa"></i>
        <mat-list-item class="skicco-pointer" (click)="showCategory('favouriteProjects')"
          ><i class="fa fa-heart w3-text-red w3-margin-right"></i> Favourites
        </mat-list-item>
        <mat-list-item class="skicco-pointer"
          ><i class="fa fa-cog skicco-text w3-margin-right"></i> Settings </mat-list-item
        ><mat-list-item (click)="logout()" class="skicco-pointer">
          <i class="fa fa-unlock skicco-text w3-margin-right"></i> Logout
        </mat-list-item></mat-list
      >
    </mat-menu>
  </div>
</div>

<div class="row">
  <div class="col-md-3 w3-hide-small" style="top: 50px; position: -webkit-sticky; position: sticky;">
    <skicco-side-nav [userDashBoardDetails]="userDashBoardDetails" [userSkills]="userSkills"></skicco-side-nav>
  </div>
  <div class="col-md-6">
    <div *ngIf="displayCategory == 'allProjects'">
      <mat-tab-group>
        <div>
          <mat-tab label="Your skilled projects">
            <h4 class="w3-center">Projects matching your skills</h4>
            <div
              *ngIf="userSkills?.length > 0"
              infinite-scroll
              (scrolled)="onScrollDown()"
              [scrollWindow]="false"
              [infiniteScrollDistance]="2"
              [infiniteScrollUpDistance]="1.5"
              [infiniteScrollThrottle]="100"
              style="height: 1000px; overflow: scroll; flex: none; position: relative;"
              class="other-prj"
              class="other-prj"
            >
              <div *ngFor="let project of matchingProjects">
                <skicco-project [project]="project" [userSkills]="userSkills"></skicco-project>
              </div>
              <div *ngIf="matchingProjectLoading">
                <skicco-shimmer-loading></skicco-shimmer-loading>
                <skicco-shimmer-loading></skicco-shimmer-loading>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Other projects">
            <div>
              <h4 class="w3-center">All other projects</h4>
              <div
                *ngIf="userSkills.length > 0"
                infinite-scroll
                (scrolled)="onScrollDownOther()"
                [scrollWindow]="false"
                [infiniteScrollDistance]="2"
                [infiniteScrollUpDistance]="1.5"
                [infiniteScrollThrottle]="100"
                style="height: 1000px; overflow: scroll; flex: none; position: relative;"
                class="other-prj"
              >
                <skicco-project
                  *ngFor="let project of otherProjects"
                  [project]="project"
                  [userSkills]="userSkills"
                ></skicco-project>
              </div>
              <div *ngIf="otherProjectLoading">
                <skicco-shimmer-loading></skicco-shimmer-loading>
                <skicco-shimmer-loading></skicco-shimmer-loading>
              </div>
            </div>
          </mat-tab>
        </div>
      </mat-tab-group>
    </div>
    <div *ngIf="displayCategory == 'favouriteProjects'">
      <h4 class="w3-center">Your favourite projects</h4>
      <div class="w3-center" *ngIf="this.favouriteProjects.length == 0">
        <i class="fa fa-heart grey-icon w3-jumbo"></i>
        <p class="w3-text-red">Empty Favourite list</p>
      </div>
      <div *ngIf="favouriteProjects.length >= 1">
        <skicco-project *ngFor="let project of favouriteProjects" [project]="project"></skicco-project>
      </div>
    </div>
    <div *ngIf="displayCategory == 'interestedProjects'" class="w3-center">
      <h4>Projects you are interested in</h4>
      <p>
        You have utilised 0 credits of 10 credits
        <button mat-button matStepperNext class="w3-indigo w3-margin">
          Buy credits
        </button>
      </p>
      <i class="fa fa-hand-paper-o grey-icon w3-jumbo"></i>
      <p>You haven't shown interest to any project yet</p>
    </div>
    <div *ngIf="displayCategory == 'myProjects'">
      <h4 class="w3-center">Your projects</h4>
      <!-- <mat-card
        >
        <h6 class="error w3-center">
          <b>**There are no projects for you yet**</b>
        </h6>
      </mat-card> -->
      <div class="w3-center">
        <i class="fa fa-suitcase grey-icon w3-jumbo"></i>
        <p class="w3-text-red">There are no projects for you yet</p>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
