<mat-card class="w3-margin project-card">
  <ngx-shimmer-loading [shape]="'circle'" [width]="'70px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [height]="'20px'"></ngx-shimmer-loading>
  <ngx-shimmer-loading [shape]="'rect'" [height]="'40px'" [width]="'100px'"></ngx-shimmer-loading>
</mat-card>
