<!-- <div class="w3-bar navbar w3-padding">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-left w3-hide-large w3-hide-medium" (click)='showSideNav()'>&#9776;</a>
    <a class="w3-bar-item w3-button" [routerLink]="['/home']">SKICCO</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-right" [routerLink]="['/contact']">Contact</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-right" [routerLink]="['/about']">About</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-right" [routerLink]="['/hirer']">Hirer</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-right" [routerLink]="['/skicon']">Skicon</a>
    <button class="w3-button w3-white w3-border w3-right w3-text-indigo w3-round-large w3-hide-small" [routerLink]="['/postProject']">Post project</button>
  </div>
  
   -->

<div class="w3-bar skicco-background w3-padding">
  <div>
    
    <a class="w3-bar-item  w3-text-white" [routerLink]="['/']">SKICCO</a>
    <a class="w3-bar-item  w3-text-white" [routerLink]="['/']">How it works.?</a>
    <a class="w3-bar-item  w3-hide-small w3-right w3-text-white" [routerLink]="['/contact']">Contact</a>
    <a class="w3-bar-item  w3-hide-small w3-right w3-text-white" [routerLink]="['/about']">About</a>
    <button class="w3-button w3-white w3-border w3-right w3-text-indigo w3-round-large w3-hide-small" [routerLink]="['/forms/post-project']">Post project</button>
  </div>
</div>
