<div
  class="container-fluid cam w3-hide-small"
  [style.height.vmin]="100"
  [style.backgroundSize]="'cover'"
>
  <div class="col-sm-6 col-xs-12">
    <div class="panel panel-default text-center panel-transparent ">
      <div class="panel-heading">
        <h1>
          {{ skiconHeader }}
          <i class="glyphicon glyphicon-wrench"></i>
        </h1>
      </div>
      <div class="panel-body">
        <h1 class="txt_color">
          {{ skiconPanelmsg1 }} <i class="fa fa-smile-o"></i>
        </h1>
        <p class="txt_color">{{ skiconPanelmsg2 }}</p>
      </div>
      <div class="panel-footer">
        <h3></h3>
        <h4></h4>
        <p>  <button (click)="userLogin()" class="w3-button w3-white w3-border  w3-text-indigo w3-round-large " >I want to work <i class="fa fa-angle-double-right"></i></button></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div
      class="panel panel-default text-center panel-transparent w3-hide-small"
    >
      <div class="panel-heading">
        <h1>
          {{ hirer }}
          <i class="glyphicon glyphicon-tasks"></i>
        </h1>
      </div>
      <div class="panel-body">
        <h1 class="txt_color">{{ hirerPanelMsg1 }}</h1>
        <p class="txt_color">{{ hirerPanelMsg2 }}</p>
      </div>
      <div class="panel-footer">
        <h3></h3>
        <h4></h4>
        <p><button (click)="hirerLogin()" class="w3-button w3-white w3-border  w3-text-indigo w3-round-large " >I want to hire <i class="fa fa-angle-double-right"></i></button></p>
        <!-- <button
          class="w3-button w3-indigo w3-padding-large w3-large w3-margin  w3-hover-opacity-off"
          id="hirerModelBtn"
          (click)="show()"
        >
          Sign Up/Login
        </button>
        <button
          class="w3-button w3-indigo w3-padding-large w3-large w3-margin  w3-hover-opacity-off"
          id="postProject"
          [routerLink]="['/forms/post-project']"
        >
          Post Project
        </button> -->
      </div>
    </div>
  </div>
  <marquee>
    <strong>{{ marqueeMsg }}</strong>
  </marquee>
</div>

<div class=" skicco-background w3-show-small w3-hide-large w3-text-white w3-padding small-screen" height="200px;">
  <h4 class="w3-margin w3-padding" style="margin-top:100px;"><b>
    Partner with SKICCO we will help you to fullfill your skilled resource
    crunch.
  </b></h4>
  <p class="w3-margin w3-padding">SKICONS are helping millions </p>
  <div class="w3-margin-left">
  <p><button (click)="hirerLogin()" class="w3-button w3-white w3-border  w3-text-indigo w3-round-large " >I want to hire <i class="fa fa-angle-double-right"></i></button></p>
<p>  <button (click)="userLogin()" class="w3-button w3-white w3-border  w3-text-indigo w3-round-large " >I want to work <i class="fa fa-angle-double-right"></i></button></p>
</div>
</div>
