.panel {
	border-radius: 0 !important;
	transition: box-shadow 0.5s;
	margin-top: 90px;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.75);
}

.panel-heading {
	color: #fff !important;
	background-color: #2C4061 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-footer {
	background-color: white !important;
}

.panel-footer h3 {
	font-size: 32px;
}

.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}

.bg-grey {
	background-color: #c2d6d6;
	padding: 90px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #2C4061;
}

.carousel-indicators li {
	border-color: #2C4061;
}

.carousel-indicators li.active {
	background-color: #2C4061;
}

h2 {
	font-family: ComicSans;
}

marquee {
	font-size: 22px !important;
	color: #fff;
}

.modal-header {
	background-color: #2C4061;
	color: #fff;
	font-family: Montserrat, sans-serif;
}

.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -300px, 0);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}

.close {
	color: #009999;
	opacity: 1;
}

.gly {
	color: #2C4061;
	font-size: 200px;
}

.mod_for {
	padding-left: 220px;
}

.mod_sign {
	text-align: center;
}

.cam {
	background-image: url("/assets/images/staff.jpg");
	
}

.panel-transparent {
	background: none;
}

.panel-transparent .panel-heading {
	background: rgba(122, 130, 136, 0.7) !important;
}

.panel-transparent .panel-body {
	background: rgba(46, 51, 56, 0.7) !important;
}

.panel-transparent .panel-footer {
	background: rgba(122, 130, 136, 0.7) !important;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

body, html {
	height: 100%;
	line-height: 1.8;
	overflow-y: scroll;
}

.panel h1, .txt_color {
	color: #fff !important;
}

.foot {
	background-color: #141f1f;
	color: #fff;
}

.modal_pading {
	padding: 25px;
}

.sign_head {
	margin-top: 40px;
}

.foot a {
	color: #fff;
}
.errorClass {
	border: 1px solid !important;
	border-color: red !important;
	border-radius: 1px !important;
}

.invalid {
	background: url(/assets/images/wrong.png) no-repeat 0 50%;
	padding-left: 22px;
	line-height: 24px;
	color: #ec3f41;
}

.valid {
	background: url(/assets/images/right.png) no-repeat 0 50%;
	padding-left: 22px;
	line-height: 24px;
	color: #3a7d34;
}

#pswd_info {
	display: none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.center {
	text-align: center;
}

.line-breaker {
	white-space: pre-line;
}

.scrollbar-measure {
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

#emailExist {
	padding: 4px;
}

.small-screen{
	border:2px solid #fff;
}