/* You can add global styles to this file, and also import other style files */

html,
body {
  overflow-x: hidden;
  height: 100%;
}
.spinner {
  margin: 20% auto 0;
  width: 93.33px;
  text-align: center;
}

.loading {
  color: #2c4061;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #2c4061;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce3 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.skicco-background {
  background-color: #2c4061;
  color: #fff;
}
.skicco-text {
  color: #2c4061;
}
.text-underline {
  text-decoration: underline;
}
.error {
  color: red;
}
.skicco-pointer {
  cursor: pointer;
}

.skicco-auto-margin {
  margin: auto;
}
.grey-icon {
  color: #b3b3b3;
}

.ssiz {
  font-size: 31px;
  color: gold;
}
.stars-60:after {
  width: 60%;
}
.filters {
  size: 25px;
  color: #2c4061;
}
.filters:hover {
  text-decoration: none;
}
#myInput {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 50px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
#myInput[type='text']:focus {
  width: 100%;
}
.left-addon .glyphicon {
  left: 0px;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin-left: 10px;
}
.panel-margin-top {
  margin-top: 50px;
}
.user-thumbnail {
  border-radius: 50%;
  height: 25px;
  width: auto;
  cursor: pointer;
}

mat-list-item {
  text-align: center;
}
.selected-suggestion {
  color: #2c4061 !important;
  border: 1px solid;
  border-color: #2c4061;
  background-color: #fff !important;
}
.user-picture {
  border-radius: 50%;
  height: 75px;
  width: auto;
  cursor: pointer;
}

.sticky-info {
  top: 4rem;
  position: -webkit-sticky;
  position: sticky;
}
.pic-profile {
  border-radius: 5%;
  height: 50px;
  width: auto;
  cursor: pointer;
  border: 4px solid;
  border-color: #2c4061;
}

.sentence-wrap {
  white-space: pre-wrap;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
