<div>
    <h3 class="w3-center">SKICCO</h3>
    <div class="row">
      <div class="w3-card w3-margin w3-padding card-width col-md-6 col-lg-6 ">
        <mat-tab-group [selectedIndex]="tabIndex">
          <mat-tab label="Sign up">
            <h4 class="w3-center">Hirer Sign Up</h4>
            <form (ngSubmit)="hirerSignUp()">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  name="signUpEmail"
                  [(ngModel)]="signupEmail"
                  type="email"
                  required
                />
              </mat-form-field>
              <p class="error" *ngIf="isSignUpEmailError">
                {{ signUpEmailErrorMsg }}
              </p>
              <br />
              <!-- <mat-form-field>
                <input matInput placeholder="Password" type="password" name="signUpPassword" [(ngModel)]="signupPassword" required minlength="6">
              </mat-form-field>
              <p class="error" *ngIf="isSignupPasswordErr">{{signupPasswordErrorMsg}}</p> -->
              <mat-form-field
                style="width: 100%"
                [color]="passwordComponent.color"
              >
                <mat-label>Password</mat-label>
                <mat-pass-toggle-visibility
                  #toggle
                  matSuffix
                ></mat-pass-toggle-visibility>
                <input
                  matInput
                  #password
                  [type]="toggle.type"
                  required
                  placeholder="Password"
                  name="signUpPassword"
                  [(ngModel)]="signupPassword"
                  (focus)="showPwdStrength=true"
                  (blur)="showPwdStrength=false"
                />
                <mat-hint align="end" aria-live="polite">
                  {{ password.value.length }} / {{ passwordComponent.max }}
                </mat-hint>
              </mat-form-field>
              <!--@angular-material-extensions/password-strength's main component-->
              <mat-password-strength
                #passwordComponent
                (onStrengthChanged)="onStrengthChanged($event)"
                [password]="password.value"
              >
              </mat-password-strength>
              <!--Password's strength info-->
              <mat-password-strength-info *ngIf="showPwdStrength" [passwordComponent]="passwordComponent">
              </mat-password-strength-info>
              <br />
              <mat-form-field>
                <mat-pass-toggle-visibility
                  #cnftoggle
                  matSuffix
                ></mat-pass-toggle-visibility>
                <input
                  matInput
                  placeholder="Confirm Password"
                  [type]="cnftoggle.type"
                  name="confirmPassword"
                  [(ngModel)]="confirmPassword"
                  required
                />
              </mat-form-field>
              <p class="error" *ngIf="isConfirmPasswordError">
                {{ confirmPasswordMsg }}
              </p>
              <br />
              <p>
                By signing up you are agreeing the
                <a href="javascript:void(0)" class="skicco-text text-underline">
                  terms and conditions
                </a>
                of SKICCO Ltd.,
              </p>
  
              <button mat-raised-button class="w3-indigo" type="ngSubmit">
                Signup
              </button>
            </form>
          </mat-tab>
          <div>
            <mat-tab label="Login" class="width">
              <h4 class="w3-center">Hirer Login</h4>
              <form (ngSubmit)="hirerLogin()">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    name="loginEmail"
                    [(ngModel)]="loginEmail"
                    required
                  />
                </mat-form-field>
                <p class="error" *ngIf="isLoginEmailErr">
                  {{ loginEmailErrorMsg }}
                </p>
                <br />
                <mat-form-field>
                    <mat-pass-toggle-visibility
                    #lptoggle
                    matSuffix
                  ></mat-pass-toggle-visibility>
                  <input
                    matInput
                    placeholder="Password"
                    [type]="lptoggle.type"
                    name="loginPassword"
                    [(ngModel)]="loginPassword"
                    required
                  />
                </mat-form-field>
                <p class="error" *ngIf="isLoginPasswordErr">
                  {{ loginPasswordErrorMsg }}
                </p>
                <a
                  href="javascript:void(0);"
                  class="pull-right skicco-text text-underline"
                >
                  Forgot password.?
                </a>
                <br />
                <br />
                <button
                  mat-raised-button
                  class="w3-indigo margin"
                  type="ngSubmit"
                >
                  Login
                </button>
              </form>
            </mat-tab>
          </div>
        </mat-tab-group>
      </div>
  
      <div class=" w3-card w3-margin w3-padding info-card col-md-6 col-lg-6 ">
        <h4 class="w3-center ">Get your work done with high quality within your budget.</h4>
        <p>
          <span>
            <i class="fa fa-desktop skicco-text w3-xlarge w3-margin "></i>Sign up
            and register as Hirer.</span
          >
        </p>
        <p>
          <span>
            <i class="fa fa-list-ol skicco-text w3-xlarge w3-margin "></i>Post your
            project with required skills.
            <a href="javascript:void(0); ">
              <u>know more..</u>
            </a>
          </span>
        </p>
        <p>
          <span>
            <i class="fa fa-handshake skicco-text w3-xlarge w3-margin "></i>Meet the expertise skicons.
            <a href="javascript:void(0); ">
              <u>know more..</u>
            </a>
          </span>
        </p>
        <p>
          <span>
            <i class="fa fa-angellist skicco-text w3-xlarge w3-margin "></i>Get
            the work done.
            <a href="javascript:void(0); ">
              <u>know more..</u>
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
  