.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  mat-form-field {
    width: 100%;
  }
  @media screen and (min-width: 750px) {
    .card-width {
      width: 48%;
    }
    .info-card {
      width: 45%;
    }
  }
  @media screen and (max-width: 450px) {
    .card-width {
      width: 100%;
    }
  }
  @media screen and (max-width: 950px) {
    .info-card {
      display: none;
    }
  }
  
  mat-password-strength .mat-progress-bar-fill::after {
    background-color: #4caf50;
  }
  .mat-password-field.mat-form-field.mat-focused .mat-form-field-label{
  color: #4caf50;
  }
  .mat-password-field.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #4caf50;
  }
  